#/data
data/fred_model/fred_model.obj
data/fred_model/material.lib
data/model/fred_model.usdz
data/model/letti_model.usdz
data/model/maicon_model.usdz
data/model/material.lib
data/model/piri_model.usdz
data/model/vanille_model.usdz
data/processed_data/0001_fred.obj
data/processed_data/0002_letti.obj
data/processed_data/0003_maicon.obj
data/processed_data/0004_piri.obj
data/processed_data/0005_vanille.obj
data/processed_data/material.lib
data/raw_data_from_Iphone/fred_model.usdz
data/raw_data_from_Iphone/letti_model.usdz
data/raw_data_from_Iphone/maicon_model.usdz
data/raw_data_from_Iphone/material.lib
data/raw_data_from_Iphone/piri_model.usdz
data/raw_data_from_Iphone/vanille_model.usdz
